@model (IList<EquipmentDTO> Equipments, RequestDTO Request)

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole(Roles.Administrator))
        {
            <div class="row pt-4">
                <div class="col-12 text-end">
                    <button class="btn btn-primary shadow-none rounded-4 my-lg-0 my-1" data-bs-toggle="modal" data-bs-target="#addEquipmentModal">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add equipment
                    </button>
                </div>
            </div>

            <partial name="_AddEquipmentModal.cshtml" />
        }

        if (User.IsInRole(Roles.Client))
        {
            @if (Model.Request != null)
            {
                <div class="row pt-4">
                    <div class="col-12">
                        <h4>Your request</h4>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-1">
                                    <i class="fa fa-circle text-@Model.Request.Status.GetTextColorClass()"></i>
                                    @Enum.GetName(Model.Request.Status)
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <span>@Model.Request.Client.FullName</span>
                                        <span>@Model.Request.Client.PhoneNumber</span>
                                        <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#updatePhoneNumberModal">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        @(await Html.PartialAsync("~/Views/Clients/_UpdateNumberPhoneModal.cshtml", Model.Request.Client))
                                        <br />
                                        @if (Model.Request.Status == RequestStatus.Pending && Model.Request.ReservedDate != DateTime.MinValue)
                                        {
                                            var timeLeft = Model.Request.ReservedDate.AddMinutes(5) - DateTime.UtcNow;
                                            if (timeLeft > TimeSpan.Zero)
                                            {
                                                <span>Left: @timeLeft.Minutes min. @timeLeft.Seconds sec.</span>
                                            }
                                            else
                                            {
                                                <span>Time is up.</span>
                                            }
                                        }
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        @if (Model.Request.RequestEquipments != null && Model.Request.RequestEquipments.Any())
                                        {
                                            foreach (var equipmentRequest in Model.Request.RequestEquipments)
                                            {
                                                <span>@equipmentRequest.Equipment.Type.ToString() @equipmentRequest.Equipment.EquipmentNumber</span>
                                                @if (equipmentRequest.Request.Status == RequestStatus.Pending)
                                                {
                                                    <button type="button" class="btn btn-danger shadow-none rounded-4" onclick="removeEquipmentFromRequest('@equipmentRequest.Equipment.Id')">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>
                                                }
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                @if (Model.Request.Status == RequestStatus.Pending)
                                {
                                    <a href="#" class="card-link" onclick="cancelRequest('@Model.Request.Id')">Cancel</a>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }
        }

        <div class="row pt-4">
            <div class="col-12">
                <h4>Equipments</h4>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-12">

                <div class="row">
                    @if (Model.Equipments != null && Model.Equipments.Any())
                    {
                        @foreach (var equipment in Model.Equipments)
                        {
                            <partial name="_EquipmentDetailsModal.cshtml" model="@equipment" />

                            @if (User.IsInRole(Roles.Administrator))
                            {
                                <partial name="_EditEquipmentModal.cshtml" model="@equipment" />
                            }

                            <div class="col-lg-3 col-md-4 col-12 p-2">
                                <div class="card rounded-4 overflow-hidden">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h5>
                                                    @equipment.Type.ToString() <strong class="text-primary"><small>#@equipment.EquipmentNumber</small></strong>
                                                </h5>
                                            </div>
                                            <div class="col-auto text-end">
                                                <div class="badge badge-@equipment.Status.GetTextColorClass()">
                                                    @equipment.Status
                                                </div>
                                            </div>
                                        </div>
                                        <small class="card-subtitle mb-2">
                                            SN:
                                            @if (string.IsNullOrEmpty(equipment.SerialNumber))
                                            {
                                                <span class="text-muted">-</span>
                                            } else
                                            {
                                                <span class="text-muted">@equipment.SerialNumber</span>
                                            }
                                        </small>
                                    </div>
                                    <div class="card-footer bg-white">
                                        <div class="row">
                                            <div class="col-12 text-end">

                                                @if (User.IsInRole(Roles.Client))
                                                {
                                                    bool isEquipmentInRequest = Model.Request?.RequestEquipments?.Any(x => x.EquipmentId == equipment.Id) ?? false;

                                                    if (!isEquipmentInRequest)
                                                    {
                                                        <button type="button" class="btn btn-primary shadow-none rounded-4" title="Reserve equipment" onclick="addEquipmentToRequest('@equipment.Id')">
                                                            <i class="fa fa-plus" aria-hidden="true"></i> Reserve
                                                        </button>
                                                    }
                                                }

                                                <button type="button" class="btn btn-primary shadow-none rounded-4" title="View equipment details" data-bs-toggle="modal" data-bs-target="#equipmentDetailsModal-@(equipment.Id)">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>

                                                @if (User.IsInRole(Roles.Administrator))
                                                {
                                                    <button type="button" class="btn btn-primary shadow-none rounded-4" title="Edit equipment" data-bs-toggle="modal" data-bs-target="#editEquipmentModal-@(equipment.Id)">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger shadow-none rounded-4" title="Delete equipment" onclick="deleteEquipment('@equipment.Id')">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <span>No equipment</span>
                    }
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="row pt-4 text-center">
            <div class="col-12">
                <h3>Пожалуйста, войдите в свой аккаунт</h3>
            </div>
            <div class="col-12 pt-4">
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                    <div>
                        <button type="submit" class="btn btn-primary shadow-none" name="provider" value="Google">
                            Login with Google
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts {

    <script src="~/js/equipments/create-equipment.js" asp-append-version="true"></script>
    <script src="~/js/equipments/delete-equipment.js" asp-append-version="true"></script>
    <script src="~/js/equipments/edit-equipment.js" asp-append-version="true"></script>
    <script src="~/js/requests/add-equipment-to-request.js" asp-append-version="true"></script>
    <script src="~/js/requests/remove-equipment-from-request.js" asp-append-version="true"></script>
    <script src="~/js/requests/cancel-request.js" asp-append-version="true"></script>
    <script src="~/js/clients/update-phone-number.js" asp-append-version="true"></script>

}