@model (IList<EquipmentDTO> Equipments, RequestDTO Request)

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole(Roles.Administrator))
        {
            <div class="row pt-4">
                <div class="col-12 text-end">
                    <button class="btn btn-primary shadow-none rounded-4 my-lg-0 my-1" data-bs-toggle="modal" data-bs-target="#addEquipmentModal">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add equipment
                    </button>
                </div>
            </div>

            <partial name="_AddEquipmentModal.cshtml" />
        }

        if (User.IsInRole(Roles.Client))
        {
            @if (Model.Request != null)
            {
                <div class="row pt-4">
                    <div class="col-12">
                        <h4>Your request</h4>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-1">
                                    <i class="fa fa-circle @Model.Request.Status.GetTextColorClass()"></i>
                                    @Enum.GetName(Model.Request.Status)
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <span>@Model.Request.Client.FullName</span>
                                        <span>@Model.Request.Client.PhoneNumber</span>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        @if (Model.Request.RequestEquipments != null && Model.Request.RequestEquipments.Any())
                                        {
                                            foreach (var equipmentRequest in Model.Request.RequestEquipments)
                                            {
                                                <span>@equipmentRequest.Equipment.Type.ToString() @equipmentRequest.Equipment.EquipmentNumber</span>
                                                @if (equipmentRequest.Request.Status == RequestStatus.Pending)
                                                {
                                                    <a href="#" class="card-link" onclick="removeEquipmentFromRequest('@equipmentRequest.Equipment.Id')">Remove</a>
                                                }
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                @if (Model.Request.Status == RequestStatus.Pending)
                                {
                                    <a href="#" class="card-link" onclick="cancelRequest('@Model.Request.Id')">Cancel</a>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }
        }

        <div class="row pt-4">
            <div class="col-12">
                <h4>Equipments</h4>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-12">

                <div class="row">
                    @if (Model.Equipments != null && Model.Equipments.Any())
                    {
                        @foreach (var equipment in Model.Equipments)
                        {
                            <div class="col-lg-3 col-md-4 col-6 p-2">
                                <div class="card">
                                    <img src="@(string.IsNullOrEmpty(equipment.ImagePath) ? "uploads\\no-photo.jpg" : equipment.ImagePath)" class="card-img-top" style="height: 160px; object-fit:cover;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <i class="fa fa-circle @equipment.Status.GetTextColorClass()"></i>
                                            @equipment.Type.ToString() @equipment.EquipmentNumber
                                        </h5>
                                        <small class="card-subtitle mb-2 text-muted">
                                            @if (string.IsNullOrEmpty(equipment.SerialNumber))
                                            {
                                                <text>No serial</text>
                                            } else
                                            {
                                                <text>@equipment.SerialNumber</text>
                                            }
                                        </small>
                                        <p class="card-text text-truncate" title="@equipment.Description">
                                            @if (string.IsNullOrEmpty(equipment.Description))
                                            {
                                                <text>No description</text>
                                            }
                                            else
                                            {
                                                <text>@equipment.Description</text>
                                            }
                                        </p>
                                        @if (User.IsInRole(Roles.Administrator))
                                        {
                                            <partial name="_EditEquipmentModal.cshtml" model="@equipment" />

                                            <a href="#" class="card-link" onclick="deleteEquipment('@equipment.Id')">Delete</a>
                                            <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#editEquipmentModal-@(equipment.Id)">Edit</a>
                                        }
                                        @if (User.IsInRole(Roles.Client))
                                        {
                                            bool isEquipmentInRequest = Model.Request?.RequestEquipments?.Any(x => x.EquipmentId == equipment.Id) ?? false;

                                            if (!isEquipmentInRequest)
                                            {
                                                <a href="#" class="card-link" onclick="addEquipmentToRequest('@equipment.Id')">Add</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <span>No equipment</span>
                    }
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="row pt-4 text-center">
            <div class="col-12">
                <h3>Пожалуйста, войдите в свой аккаунт</h3>
            </div>
            <div class="col-12 pt-4">
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                    <div>
                        <button type="submit" class="btn btn-primary shadow-none" name="provider" value="Google">
                            Login with Google
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts {

    <script src="~/js/equipments/create-equipment.js" asp-append-version="true"></script>
    <script src="~/js/equipments/delete-equipment.js" asp-append-version="true"></script>
    <script src="~/js/equipments/edit-equipment.js" asp-append-version="true"></script>
    <script src="~/js/requests/add-equipment-to-request.js" asp-append-version="true"></script>
    <script src="~/js/requests/remove-equipment-from-request.js" asp-append-version="true"></script>
    <script src="~/js/requests/cancel-request.js" asp-append-version="true"></script>

}