@model IList<RequestDTO>

<div class="container">

    <div class="row pt-4">
        <div class="col-6">
            <h4>Requests</h4>
        </div>
        <div class="col-6">

            <form method="post" asp-controller="Requests" asp-action="Index">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <select class="form-control shadow-none" name="status" asp-items="ViewBag.RequestStatuses" onchange="this.form.submit()">
                        </select>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12">

            @if (Model != null && Model.Any())
            {
                foreach (var request in Model)
                {
                    <div class="card my-3">
                        <div class="card-header">
                            <h5 class="card-title mb-1">
                                <i class="fa fa-circle text-@request.Status.GetTextColorClass()"></i>
                                @Enum.GetName(request.Status)
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <span>@request.Client.FullName</span>
                                    <span>@request.Client.PhoneNumber</span>
                                    <br />
                                    @if (request.IssuedDate != DateTime.MinValue)
                                    {
                                        <span>@request.IssuedDate.ToLocalTime()</span>
                                    }
                                    <br />
                                    @if (request.ReturnedDate != DateTime.MinValue)
                                    {
                                        <span>@request.ReturnedDate.ToLocalTime()</span>
                                    }
                                </div>
                                <div class="col-lg-6 col-12 mt-3">
                                    @if (request.RequestEquipments != null && request.RequestEquipments.Any())
                                    {
                                        foreach (var equipmentRequest in request.RequestEquipments)
                                        {
                                            <span>@equipmentRequest.Equipment.Type.ToString() @equipmentRequest.Equipment.EquipmentNumber</span>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @if (request.Status == RequestStatus.Pending)
                            {
                                <a href="#" class="card-link" onclick="rejectRequest('@request.Id')">Reject</a>
                                <a href="#" class="card-link" onclick="approveRequest('@request.Id')">Approve</a>
                            }
                            else if (request.Status == RequestStatus.Issued)
                            {
                                <a href="#" class="card-link" onclick="returnRequest('@request.Id')">Return</a>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</div>

@section Scripts {

    <script src="~/js/requests/reject-request.js" asp-append-version="true"></script>
    <script src="~/js/requests/approve-request.js" asp-append-version="true"></script>
    <script src="~/js/requests/return-request.js" asp-append-version="true"></script>

}